themes {
  catppuccin-frappe {
    bg "#626880" // Surface2
    fg "#c6d0f5"
    red "#e78284"
    green "#ff0189"
    blue "#8caaee"
    yellow "#e5c890"
    magenta "#f4b8e4" // Pink
    orange "#ef9f76" // Peach
    cyan "#99d1db" // Sky
    black "#292c3c" // Mantle
    white "#c6d0f5"
  }
}

theme "catppuccin-frappe"

pane_frames false
ui {
  pane_frames {
    hide_session_name true
  }
}

keybinds {
  unbind "Ctrl q" "Alt Left" "Alt Right" "Alt Up" "Alt Down" "Ctrl o"
  shared {
    bind "Ctrl F1" { Copy; }
    bind "Ctrl F2" { NewTab; }
    bind "Ctrl F3" { CloseFocus; }
    bind "Ctrl F4" { GoToPreviousTab; }
    bind "Ctrl F5" { GoToNextTab; }
    bind "Ctrl F6" { NewPane "Right"; }
    bind "Ctrl F7" { NewPane "Down"; }
    bind "Ctrl F8" { MoveFocus "Left"; }
    bind "Ctrl F9" { MoveFocus "Right"; }
    bind "Ctrl F10" { MoveFocus "Up"; }
    bind "Ctrl F11" { MoveFocus "Down"; }
    bind "Ctrl F12" { SwitchToMode "EnterSearch"; SearchInput 0; }
    bind "Alt F1" { GoToTab 1; }
    bind "Alt F2" { GoToTab 2; }
    bind "Alt F3" { GoToTab 3; }
    bind "Alt F4" { GoToTab 4; }
    bind "Alt F5" { GoToTab 5; }
    bind "Alt F6" { GoToTab 6; }
    bind "Alt F7" { GoToTab 7; }
    bind "Alt F8" { GoToTab 8; }
    bind "Alt F9" { GoToTab 9; }
    bind "Alt F10" { ToggleFloatingPanes; }
  }
  entersearch {
    bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
  }
  search {
    bind "Up" { Search "up"; }
    bind "Down" { Search "down"; }
  }
  shared_except "session" "locked" {
    bind "Ctrl s" { SwitchToMode "Session"; }
  }
  session {
    bind "Ctrl s" { SwitchToMode "Normal"; }
  }
}

default_layout "compact"
copy_on_select false
session_serialization false
